.center-cropped {
    width: 17.75em;
    height: 17.75em;
    padding: 1em;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .form-check-input {
    left: 26px;
    top: 1px;
    position: relative !important;

  }